<%= form_for @comment, :url => comments_path(blog.id) do |f| %>
  <div class="field">
    <%= f.text_area :content, style: 'width:99.5%' %>
  </div>
  <div class="actions">
    <%= f.submit "Create a blog", class: "btn btn-primary" %>
  </div>
<% end %>